.error__boundary--title {
  text-align: center;
  font-size: 4rem;
  font-weight: 600;
  color: $primary-light-color;
  font-family: "Source Serif Pro", serif;
  word-spacing: 0.2rem;
  letter-spacing: 0.2rem;
  margin: 3rem;
}

.error__boundary--page {
  width: 70%;
  margin: 5rem auto;
  padding: 6rem 3rem;
  text-align: center;

  & h1 {
    font-size: 3rem;
    color: $primary-color;
    margin-bottom: 3rem;
    letter-spacing: 0.2rem;
    font-family: "Source Serif Pro", serif;
  }

  & h2 {
    font-size: 2rem;
    color: $primary-light-color;
    letter-spacing: 0.1rem;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  button {
    font-size: 2rem;
    padding: 1.3rem 2rem;
  }
}

@media only screen and (max-width: $bp--medium) {
  .error__boundary--page {
    width: 80%;
  }
}

@media only screen and (max-width: $bp--small) {
  .error__boundary--page {
    width: 90%;
  }
}
